.container {
  height: 44px;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  padding-left: 8px;
}

.sidebar_hidden {
  padding-left: 84px;
}

.sidebar_toggle {
  padding: 8px;

  &:hover {
    color: var(--text-tertiary);
  }
}

.separator {
  width: 2px;
  height: 20px;
  margin-right: 8px;
  background-color: var(--border-color);
}
