.container,
.container *,
.icon,
.icon * {
  cursor: pointer;

    &:disabled, &:disabled * {
    cursor: default !important;
  }
}

.container {
  border-radius: 10px;

  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;

  transition-property: background-color;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.container.primary {
  background-color: var(--gray-900);
  color: var(--gray-0);

  &:disabled {
    background-color: var(--gray-600) !important;
  }

  &:hover {
    background-color: var(--foreground-lighter);
  }

  :root[dark='true'] & {
    background-color: var(--gray-50);
    color: var(--gray-900);
  }

  :root[dark='true'] &:hover {
    background-color: var(--gray-200);
  }
}

.container.secondary {
  border: 1px solid var(--border-color);

  &:hover {
    background-color: var(--border-color);
  }
}

.label {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.01px;
  line-height: 20px;
}

.icon {
  border-radius: 6px;
  color: var(--accent-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  transition-property: color;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);

  &.hover_background:hover {
    background-color: var(--gray-150);
    /* color: var(--foreground-color); */
    color: var(--text);
  }

  :root[dark="true"] &.hover_background:hover {
    background-color: var(--gray-800);
  }
}
