.filter_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 8px;
}

.create_modal {
  width: 360px;
}

.create_modal_body {
  padding-top: 20px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
