@font-face {
  font-family: 'Geist';
  src: url('../assets/Geist-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900;
}

:root {
  background-color: #121212;
  color: #f6f6f6;
  font-family: 'Geist', sans-serif;
  -webkit-user-select: none;
  overscroll-behavior: none;
}

p, span, h1, h2, h3, h4, h5, h6 {
  cursor: default;
}

a {
  -webkit-user-drag: none;
}

#header-bar {
  height: 52px;
  border-bottom: 1px solid #2a2a2a;
}

#sidebar-container {
  border-right: 1px solid #2a2a2a;
  height: 100%;
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 16px 12px;
}

.sidebar-item {
  height: 32px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  border-radius: 6px;
  -webkit-transition-property: background-color;
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transition-duration: 150ms;
}

.sidebar-item, .sidebar-item * {
  cursor: pointer;
}

.sidebar-item.selected {
  background-color: #2a2a2a;
  font-weight: 500;
  color: #f6f6f6;
}

.sidebar-item:hover {
  background-color: #2a2a2a;
}

.sidebar-item-label {
  font-size: 14px;
  color: #d0d0d0;
}

.sidebar-layout-container {
  flex: 1;
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.sidebar-layout-content-container {
  flex: 1;
  height: 100%;
}

.header-layout-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-container {
  height: 100%;
  padding: 16px;
}
