#header-bar {
  height: 52px;
  border-bottom: 1px solid #2a2a2a;
}

.sidebar-layout-container {
  flex: 1;
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.sidebar-layout-content-container {
  flex: 1;
  height: 100%;
}

.header-layout-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-container {
  height: 100%;
  padding: 16px;
}
