.menu_container {
  position: absolute;
  width: 136px;
  background-color: #121212;
  border: 1px solid #2a2a2a;
  border-radius: 8px;
  padding: 8px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  -webkit-animation-name: fade-in;
  -webkit-animation-duration: 100ms;
  -webkit-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
}

@-webkit-keyframes fade-in {
  0% {
    scale: 0.95;
    opacity: 0;
  }

  100% {
    scale: 1;
    opacity: 1;
  }
}

.menu_item {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 4px 8px;
  -webkit-transition-property: background-color;
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transition-duration: 150ms;
  border-radius: 6px;
}

.menu_item:hover {
  background-color: #2a2a2a;
}

.icon_placeholder {
  width: 16px;
  height: 16px;
}
