.modal_overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-animation-name: fade-in;
  -webkit-animation-duration: 100ms;
  -webkit-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal_overlay_blur {
  -webkit-backdrop-filter: blur(0.5px);
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes scale-in {
  0% {
    scale: 0.95;
    opacity: 0;
  }

  100% {
    scale: 1;
    opacity: 1;
  }
}

.modal_content {
  -webkit-animation-name: scale-in;
  -webkit-animation-duration: 200ms;
  -webkit-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
}

.modal_container {
  background-color: #121212;
  border: 1px solid #2a2a2a;
  border-radius: 8px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.modal_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal_title {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -4%;
}
