.container {
  background-color: var(--background-color-dark);
  height: 100%;
  width: 228px;
}

.inner_container {
  border-right: 1px solid var(--background-color-darker);
  height: 100%;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.item {
  border-radius: 6px;
  color: var(--foreground-lighter);
  display: flex;
  align-items: center;
  gap: 8px;
  height: 32px;
  padding-left: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  transition-property: background-color, color;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &,
  & * {
    cursor: pointer;
  }

  &.active {
    background-color: var(--gray-150);
    color: var(--foreground-color);
  }

  &:hover {
    background-color: var(--gray-150);
  }
}

.item_label {
  font-size: 14px;
  letter-spacing: -0.1px;
  line-height: 20px;
}

.link_emoji {
  font-size: 14px;
  line-height: 20px;
}

.header_container {
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 8px;
}

.header_button {
  color: var(--gray-600);

  &:hover {
    color: var(--gray-800);
  }
}

.header {
  color: var(--gray-600);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.drag_area {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 52px;
  border-right: 1px solid var(--background-color-darker);
  padding-right: 12px;
}

.drag_area_button {
  color: var(--foreground-color-lighter);
  height: 32px;
  width: 32px;

  &:disabled {
    color: var(--gray-400);
  }

  &:disabled:hover {
    background: none;
    color: var(--gray-400);
  }
}
