.container {
  background-color: var(--background-secondary);
  height: 100%;
  width: 228px;
}

.inner_container {
  border-right: 1px solid var(--border-color);

  height: 100%;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 12px;

  display: flex;
  flex-direction: column;
  gap: 4px;
}

.item {
  border-radius: 6px;
  color: var(--text-secondary);

  display: flex;
  align-items: center;
  gap: 8px;
  height: 32px;

  padding-left: 8px;
  padding-top: 8px;
  padding-bottom: 8px;

  transition-property: background-color, color;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &,
  & * {
    cursor: pointer;
  }

  &.active {
    background-color: var(--gray-150);
    color: var(--gray-950);
  }

  &:hover {
    background-color: var(--gray-150);
  }

  :root[dark='true'] &.active {
    background-color: var(--gray-800);
    color: var(--gray-50);
  }

  :root[dark='true'] &:hover {
    background-color: var(--gray-800);
  }
}

.item_label {
  font-size: 14px;
  letter-spacing: -0.1px;
  line-height: 20px;
}

.link_emoji {
  font-size: 14px;
  line-height: 20px;
}

.header_container {
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 8px;
}

.header_button {
  color: var(--accent-tertiary);

  &:hover {
    color: var(--gray-800);
  }

  :root[dark='true'] &:hover {
    color: var(--gray-200);
  }
}

.header {
  color: var(--accent-tertiary);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.drag_area {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 44px;
  border-right: 1px solid var(--border-color);
  padding-right: 12px;
}

.drag_area_button {
  color: var(--gray-800);
  height: 32px;
  width: 32px;

  :root[dark='true'] & {
    color: var(--gray-200);
  }

  &:disabled {
    color: var(--accent);
  }

  :root[dark='true'] &:disabled {
    color: var(--gray-500);
  }

  &:disabled:hover {
    background: none !important;
    color: var(--accent);
  }
}

.search_container {
  height: 32px;
  width: 100%;
  background-color: var(--gray-100);
  border: 1px solid var(--gray-300);
  cursor: pointer;
  border-radius: 8px;

  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 12px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &,
  & kbd {
    transition-property: background-color, color;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  :root[dark='true'] & {
    background-color: var(--gray-800);
    border: 1px solid var(--gray-700);
  }

  &:hover,
  &:hover kbd {
    background-color: #e5e5e580;
  }

  :root[dark='true'] &:hover,
  :root[dark='true'] &:hover kbd {
    background-color: #40404080;
  }
}

.search_icon,
.search_label {
  color: var(--accent-tertiary);
}

.search_label {
  font-size: 14px;
  line-height: 18px;
}

.search_inner_container {
  display: flex;
  align-items: center;
  gap: 8px;
}
